<!-- ユーザーの詳細 -->
<div>
  <h3><%= @user.user.name %></h3>
</div>
<!-- ユーザーの投稿一覧　-->
<% @post_images.each do |post_image| %>
<div>
  <%= link_to post_image_path(post_image.id) do %>
    <%= image_tag post_image.get_image %>
</div>
<% end %>
